<div class="well">
    <h4 class="acenter">High School Enrollments</h4>
    <hr />
    <ul id="category-container" class="unstyled"></ul>
    <div class="clear"></div> 
</div>

<div class="acenter">
    <button id="findme" class="btn btn-large btn-primary findme">Find My Location</button>
</div>